@import url('normalize.css');
@import url('ccweb3.css');

/*bare for artikkelsidene*/
#master-grid {
	max-width: 1200px;
	margin: 0 auto;
			
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 120px auto auto 100px;
	grid-template-areas: 	"header header header header"
							"intro hoved hoved hoved"
							"intro hoved hoved hoved"
							"footer footer footer footer";
}
			
/*meny*/
#meny{
	grid-area: intro;
	color: white;
	background:#f9f4f4;
}
/*eksamensdato*/
#ekstra{
	grid-area: ekstra;
	color: white;
	background: #f9f4f4;
}

/*forelesningstider*/
#fag{
	grid-area:intro;
	background: #f9f4f4;
}

/*bilde på forsiden*/				
.introbilde{
	grid-area: introbilde;
	width: 100%;
	padding: 5px;
	background:#f9f4f4;
}


/*skoleartikler*/
main {
	grid-area:hoved;
	background: #f9f4f4;
	display:flex;
	padding:5px;
	padding: 6px;
}


/*artikkelside spess*/
table {
width:80%
}	
td{
	border: 4px solid white;
	height:70px;
	padding:2px;
}
th{
	border: 4px solid white;
	height:50px;
	width:50%;
	padding:2px;
}	

img.wire{
height:200px; 
width:200px;
}






